body{
   margin: 80px;

}

div{
    display: inline;
    border: 2px solid tomato;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    
}

div:hover{
    background-color: tomato;
    color: white;
    font-weight: bold;
}


input{
    margin: 50px;
    border-radius: 10px;
    height: 30px;
    border-width: 3px;
    border-style: dashed;
}

input:focus{
    border-color: rgb(226, 20, 37);
    border-width: 6px;
}

input:valid{
    border-color: rgb(52, 241, 14);
    border-width: 6px;
    border-style: solid;
}

p::first-line{
    color: tomato;
    font-weight: bold;  
}

p::first-letter{
    color: rgb(243, 11, 69);
    font-weight: bold;  
    font-size: 200%;
}

p::selection{
   background-color: rgb(243, 35, 198);
    color: aliceblue; 
}





